<div class="container mt-5">
  <div class="card text-center" style="padding: 20px">
      <form #logiinForm="ngForm">

          <input type="number"
          ngModel
          name="id_component"
          id="id_component"
          placeholder="id_component"
          class="form-control"
          >

          <input type="number"
          ngModel
          name="User_id"
          id="User_id"
          placeholder="User_id"
          class="form-control"
          >
          <input type="number"
          ngModel
          name="product_id"
          id="product_id"
          placeholder="product_id"
          class="form-control"
          >

          <input type="text"
          ngModel
          name="comment voulcher"
          id="comment voulcher"
          placeholder="comment voulcher"
          class="form-control"
          >
         
          <input type="submit"
          value="Submit"
          class="btn btn-outline-primary form-control rounded-0 "
          >
      </form>
      
  </div>
</div>
