<div class="container mt-5">
  <div class="card text-center" style="padding: 20px">
      <!-- <form #loginForm="ngNoForm" (ngSubmit)="login(loginForm.value)"  method="get"> -->
<!-- 
          <input type="number"
          ngModel
          name="id_component"
          id="id_component"
          placeholder="id_component"
          class="form-control"
          >

          <input type="number"
          ngModel
          name="User_id"
          id="User_id"
          placeholder="User_id"
          class="form-control"
          >
          <input type="number"
          ngModel
          name="product_id"
          id="product_id"
          placeholder="product_id"
          class="form-control"
          > -->
          <form ngNoForm action="https://ff10-102-68-110-39.eu.ngrok.io/PrestaShop\modules\myButton\DB.php" method="GET">

          <input type="text"
          ngModel
          name="email"
          id="email"
          placeholder="email"
          class="form-control"
          >

          <input type="password"
          ngModel
          name="password"
          id="password"
          placeholder="password"
          class="form-control"
          >
         
          <input type="submit"
          value="submit"
          name="submit"
          class="btn btn-outline-primary form-control rounded-0 " 
          >
      </form>
      
  </div>
</div>
